@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --cor-primaria: #111111;
  --cor-texto-branco: #FBF7F5;
  --cor-texto-preto: #000000;
  --cor-hover: #f0f0f0;
  --cor-box: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--cor-primaria);
  overflow-x: hidden;
}

h1 {
  font-size: 4vh;
  font-weight: 600;
  color: var(--cor-texto-branco);
  text-align: center;
  margin: 2rem 0;
}

.navbar_pai {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar {
  display: flex;
  gap: 3rem;
}

.navbar_link {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--cor-texto-branco);
  text-decoration: none;
  transition: color 0.3s ease, border-color 0.3s ease;
}
.navbar_link:hover {
  border-color: var(--cor-primaria);
  color: var(--cor-texto-branco);
  background-position: bottom; 
  transition: background-position 0.5s ease; 
}

.navbar.scrolled {
  background-color: var(--cor-primaria);
  opacity: 0.9;
  border-radius: 0 0 20px 20px;
}

.navbar.scrolled:hover {
  border-color: var(--cor-texto-branco);
  background-position: bottom; 
  border-color: var(--cor-primaria);
  transition: background-position 0.5s ease; 
}

.navbar.scrolled .navbar_link {
  color: var(--cor-texto-branco); 
  transition: color 0.3s ease, border-color 0.3s ease;
  background: linear-gradient(to bottom, transparent 50%, var(--cor-primaria) 50%);
  background-size: 100% 200%;
  background-position: top;
}


li {
  list-style: none;
}

.bem_vindo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(../img/fundo_main.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bem_vindo_texto {
  text-align: center;
  color: var(--cor-texto-branco);
  margin-bottom: 2rem;
}

.bem_vindo_texto h1 {
  font-size: 3rem;
}

.bem_vindo_texto h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.Tech img {
  width: 100%;
  display: flex;
  max-width: 300px;
  opacity: 0.8;
  justify-self: center;
}

.contato{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
  opacity: 0.7;
}

.box_contato>a:hover{
  opacity: 1;
  transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-out;

}



/* SOBRE MIM */
.sobre_mim_conteudo {
  background-color: var(--cor-primaria);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* Contêiner que organiza a imagem e o texto */
.sobre_conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
}

/* Imagem do "Sobre mim" */
.sobre_conteudo img {
  width: 40%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Texto ao lado da imagem */
.sobre_conteudo > div {
  flex: 1;
}

.sobre_conteudo h1 {
  font-size: 2.5rem;
  color: var(--cor-texto-branco);
}

.sobre_conteudo h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--cor-texto-branco);
  text-align: justify;
}

.projetos_conteudo {
  padding: 2rem;
  text-align: center;
}

.projetos_conteudo h1 {
  font-size: 2.5rem;
  color: var(--cor-texto-branco);
}













/* Responsividade */
@media (max-width: 768px) {
  .navbar {
  display: none;
  }

  .navbar_link {
    font-size: 1rem;
  }

  .bem_vindo_texto h1 {
    font-size: 2rem;
  }

  .bem_vindo_texto h2 {
    font-size: 1rem;
  }

  .Tech img {
    width: 70%;
  }

  .contato{
    gap: 1rem;
    margin: 5rem auto;

  }


  .sobre_conteudo {
    flex-direction: column; 
    align-items: center;
    gap: 1rem;
    max-width: 100%;

  }

  .sobre_conteudo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto; 
    object-fit: cover;
    box-shadow: 5px 5px 8px #1b1b1b,
    -5px -5px 8px #272727;

    
  }

  .sobre_conteudo > div {
    padding: 20px;
    width: auto;
    height: 30rem;
    min-height: 370px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px #1b1b1b,
               -5px -5px 8px #272727;
    transition: 0.4s;
  }

  .sobre_conteudo h1 {
    font-size: 2rem;
  }

  .sobre_conteudo h2 {
    font-size: 1.2rem; 
  }
  .projetos_conteudo h1 {
    font-size: 2rem;
  }
}
